ENV=development
DEBUG=false
ALLOWED_ORIGINS=["http://localhost:3000"]
ANTHROPIC_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_JWT_SECRET=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
